.about-tolkin-kontent {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    margin-bottom: 50px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
    background-color: rgb(52, 52, 52);
    border-radius: 10px;
}
.content-container div {
    display: flex;
    justify-content: center;
}

.content-title {
    position: relative;
    margin-top: 25px;
    font-family: var(--font-kurale), sans-serif;
    font-size: 35px;
    color: rgb(45, 174, 174);
    text-align: center;
}

.content-description {
    display: block;
    width: 95%;
    font-family: var(--font-kurale), sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    color: #ccd0cf;
}