.form-edit-book-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 90%;
    border: 2px solid rgb(107, 107, 107);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
}
.form-edit-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-edit-book input {
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}
.form-edit-book label {
    color: white;
    margin: 10px 0;
}
.form-edit-book button {
    margin-bottom: 10px;
}
.drop-photo-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    text-align: center;
    color: silver;
    border: 2px dashed silver;
    margin-bottom: 2px;
}
.form-description-book {
    width: 90%;
    max-width: 90%;
    border: 2px solid black;
    border-radius: 5px;
    min-height: 100px;
}
.sms-book-photo-error {
    color: red;
}
.edit-photo-book-cnt {
    display: flex;
}
#form-photo-book {
    display: none;
}
#previewImage {
    width: 100px;
}