.form-log-in-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 3;
}
.container-form-log-in {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    height: 430px;
    width: 250px;
    border-radius: 10px;
    top: calc(50% - 200px);
    left: calc(50% - 125px);
    border: 3px solid rgb(0, 131, 131);;
}
.form-log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form-log-in label {
    color: white;
    margin-bottom: 5px;
}
.form-log-in input {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 3px 0 3px;
}
.btn-log-in-form {
    width: 200px;
    height: 40px;
    color: rgb(209, 209, 209);
    background-color: rgb(0, 131, 131);
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.form-log-in-error-sms {
    text-align: center;
    width: 95%;
    font-weight: 600;
    font-size: 18px;
    color: red;
    margin-bottom: 10px;
}
.btn-close-form-log-in {
    left: 192px;
    top: 5px;
}