header {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgb(41, 41, 41);
    width: 100%;
    max-width: 1440px;
    min-height: 75px;
    z-index: 3;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center
    ;width: 100%;
    max-width: 1440px;
    height: 75px;
    position: relative;
    z-index: 2;
}

.logo {
    font-size: 30px;
    width: 225px;
    color: white;
    font-weight: normal;
}
.nav-logo-link {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav-link {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}
.nav-link-li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-radius: 5px;
}
.nav-link-li-a {
    position: relative;
    font-size: 19px;
    color: rgb(209, 209, 209);
    transition: 0.1s ease;
}
.nav-link-li-a::after {
    content: "";
    background: rgb(0, 131, 131);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transition: all .15s ease-in 0s;
}
.nav-link-li-a:hover::after {
    transform: scaleX(1.15);
}
.nav-link-li-a:hover {
    transform: scale(1.15);
    color: rgb(0, 131, 131);
}
.activeLink {
    transform: scale(1.15);
    color: rgb(0, 131, 131);
}
.activeLink::after {
    transform: scaleX(1.15);
    background: rgb(0, 131, 131);
}

.display {
    display: none;
}
@media (max-width: 960px) {
    .logo{
        font-size: 25px;
        width: 168px;
    }
    .nav-link-li-a {
        font-size: 15px;
    }
}
@media (max-width: 800px) {
    .nav-link {
    display: none;
   }
} 
@media (max-width: 500px) {
    .logo {
        font-size: 20px;
    }
}