.modal-window-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 80%;
    height: 200px;
    background-color:white;
    border-radius: 20px;
    border: 2px solid white;
    top: calc(50% - 100px);
    left: 50%;
    transform: translateX(-50%);
}
.modal-window-header{
    font-weight: 700;
    font-size: 25px;
    color: black;
    text-align: center;
    margin: 5px;
}



/*  rgb(45, 174, 174); */