* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('../../public/Backgroudn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
body::after {
  content: "";
  background: rgb(52, 52, 52);
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
  transition: all .25s ease;
}
main {
  width: 100%;
  max-width: 1440px;
}

.button-global {
  font-size: 19px;
  height: 30px;
  padding: 0 5px 0 5px;
  line-height: 30px;
  color: rgb(209, 209, 209);
  background-color: rgb(0, 131, 131);
  border-radius: 5px;
  cursor: pointer;
}
.div-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}